.container {
  margin: 5px, 20px, 5px, 20px;
  padding-top: 50px;
  padding-bottom: 50px;
}
#history-table_filter {
  padding-bottom: 10px;
}

td {
  padding: 5px;
  margin: 5px;
}
th {
  height: 50px;
  padding: 5px;
}
.sum-text {
  width: 30%;
}
