{% extends "changeBase.html" %} {% block title %}Change Password{% endblock %}
{% block head %} {{ super() }}
<style>
  .container {
    margin-top: 6rem;
  }
  .card {
    border: none;
    border-radius: 8px;
    min-height: 500px;
    box-shadow: 10px 5px 5px #d3d3d3;
  }

  .fonts {
    font-size: large;
  }
  .passwordForm {
    margin: auto;
    max-width: 300px;
  }
</style>
{% endblock %} {% block content %}
<div class="container">
  <div class="row d-flex justify-content-center">
    <div class="col-md-7">
      <div class="card p-3 py-4">
        <div class="text-center">
          <div>
            <h3>Your Email: {{user.email}}</h3>
            <form class="passwordForm mt-5 mb-5" action="" , method="post">
              {{form.oldpw(class='form-control mt-5', placeholder='Old Password', type='password')}} 
              {{form.newpw(class='form-control
              mt-3', placeholder='New Password', type='password')}}
              {{form.newCfmpw(class='form-control mt-3', placeholder='Confirm New Password', type='password')}}
              <ul class="list-group">
                {% for error in form.newCfmpw.errors %}
                <li class="list-group-item list-group-item-danger">{{error}}</li>
                {% endfor %}
              </ul>
              <p class="mt-2 fonts">{{outputStr}}</p>
              {{form.submit_btn(class ='btn btn-md mt-5 btn-secondary w-100' )}}

              {{form.csrf_token}}
              <a
              class="btn btn-md btn-secondary w-100 mb-5 mt-3"
              href="{{url_for('profile')}}"
              >Back to Profile</a
            >
            </form>

          </div>
        </div>
      </div>
    </div>
  </div>
</div>

{% endblock %}
